@media screen and (max-width:700px) {
    .items3{
        display: none;
    }

    .slider{
        height: 500px;
    }

    #h5{
        margin-top: -200px;
    }
    
}

@media screen and (max-width:900px){
    .conection{
        display: block;
    }

    .conection-items{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}