@media screen and (max-width:700px) {
    .items3{
        display: none;
    }

    .slider{
        height: 500px;
    }

    #h5{
        margin-top: -200px;
    }
    
}

@media screen and (max-width:900px){
    .conection{
        display: block;
    }

    .conection-items{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1410px){
    
    .owl-carousel .owl-nav button.owl-next{
       font-size:40px;
   }

   .owl-carousel .owl-nav button.owl-prev{
       font-size:40px;
   }
}

@media screen and (min-width: 1410px){
    .owl-carousel .owl-nav button.owl-next{
        position: absolute;
        top: 31%;
        left: 1250px;
        font-size: 40px;
    }
    
    .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        top: 31%;
        right: 1250px;
        font-size: 40px;
    }
}